<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hadimusthafa.ui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UI">
        <activity android:name=".UI12"></activity>
        <activity android:name=".UI11_R" />
        <activity android:name=".UI11" />
        <activity android:name=".UI10a" />
        <activity android:name=".UI10" />
        <activity
            android:name=".UI6_Ac"
            android:label="@string/title_activity_u6_"
            android:theme="@style/Theme.UI.NoActionBar" />
        <activity android:name=".UI9" />
        <activity android:name=".UI8_ST_EB" />
        <activity android:name=".UI8_ST" />
        <activity android:name=".UI8" />
        <activity android:name=".UI6" />
        <activity android:name=".UI1" />
        <activity android:name=".UI2" />
        <activity android:name=".UI3" />
        <activity android:name=".UI4" />
        <activity android:name=".UI5" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Forgot_Activity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".SignUp_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>